<div class="modal-header">
  <h4 class="modal-title">Create Quiz</h4>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="activeModal.dismiss('Cross click')"
  ></button>
</div>
<div class="modal-body">
  <form (submit)="onSubmit()" [formGroup]="questionForm$">
    <div class="form-floating mb-3">
      <input
        type="file"
        class="form-control"
        id="cover"
        (change)="onSelectImage($event)"
        accept="image/*"
        formControlName="cover"
      />
      <label for="cover">Cover Photo</label>
    </div>
    <div class="form-floating mb-3">
      <input
        type="text"
        class="form-control"
        id="question"
        formControlName="question"
      />
      <label for="question">Question</label>
    </div>
    <div class="form-floating mb-3">
      <textarea
        formControlName="desc"
        class="form-control"
        placeholder="Description"
        id="description"
        style="height: 100px"
      ></textarea>
      <label for="description">Description</label>
    </div>
    <div class="form-floating mb-3">
      <input
        type="text"
        class="form-control"
        id="answer"
        formControlName="answer"
      />
      <label for="answer">Answer</label>
    </div>

    <div class="form-floating mb-3">
      <input
        type="text"
        class="form-control"
        id="choices"
        formControlName="choices"
      />
      <label for="choices">Choices</label>
      <div class="form-text" id="basic-addon4">
        Enter choices separeted by comma ','
      </div>
    </div>

    <div class="form-floating mb-3">
      <input
        type="number"
        class="form-control"
        id="points"
        formControlName="points"
      />
      <label for="points">Points</label>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-outline-dark"
        (click)="activeModal.close('Close click')"
      >
        Cancel
      </button>
      <button
        class="btn btn-dark"
        type="submit"
        [disabled]="questionForm$.invalid"
      >
        Save
      </button>
    </div>
  </form>
</div>
