<div class="container-fluid p-3" style="min-height: 100%">
  <ng-container *ngIf="quiz$ | async as quiz; else noQuiz">
    <div class="box h-100">
      <div class="d-flex align-items-center justify-content-end gap-3">
        <button
          class="btn"
          [ngClass]="{
            'btn-dark': !quiz.visible,
            'btn-outline-dark': quiz.visible
          }"
        >
          {{ !quiz.visible ? "PUBLISH" : "UNPUBLISH" }}
        </button>
        <button class="btn btn-success" [disabled]="quiz.visible">
          <i class="fa-solid fa-pen-to-square"></i>
        </button>

        <button
          class="btn btn-danger"
          [disabled]="quiz.visible"
          (click)="deleteQuiz(quiz.id, quiz.cover_photo)"
        >
          <i class="fa-solid fa-trash"></i>
        </button>
      </div>
      <div class="d-flex gap-3">
        <div class="flex-fill">
          <div class="ratio ratio-16x9">
            <img
              [src]="quiz.cover_photo"
              width="100%"
              height="100%"
              class="rounded"
              [alt]="quiz.title"
            />
          </div>
        </div>
        <div class="flex-fill">
          <div class="d-flex flex-column">
            <h4>{{ quiz.title }}</h4>
            <p class="text-muted">{{ quiz.createdAt.toLocaleDateString() }}</p>
            <p class="text-muted">
              {{ quiz.desc }}
            </p>
          </div>
        </div>
      </div>

      <!-- tabs -->
      <div class="container-fluid mt-3">
        <ul ngbNav #nav="ngbNav" class="nav-pills">
          <li ngbNavItem>
            <button ngbNavLink>Levels</button>
            <ng-template ngbNavContent>
              <app-levels-table [quizID]="quiz.id" />
            </ng-template>
          </li>
          <li ngbNavItem>
            <button ngbNavLink>Submissions</button>
            <ng-template ngbNavContent>No Submissions yet.</ng-template>
          </li>
        </ul>

        <div [ngbNavOutlet]="nav"></div>
      </div>
    </div>
  </ng-container>
  <ng-template #noQuiz>
    <p>No quiz found.</p>
  </ng-template>
</div>
