<div class="modal-header bg-dark">
  <h5 class="modal-title text-light">Create Questions</h5>
</div>
<div class="modal-body">
  <form (submit)="onSubmit()" [formGroup]="questionForm$">
    <div class="form-floating mb-3">
      <input
        type="file"
        class="form-control"
        id="question"
        (change)="onSelectImage($event)"
        accept="image/*"
      />
      <label for="question">Question</label>
    </div>

    <div class="form-floating mb-3">
      <input
        type="text"
        class="form-control"
        id="answer"
        formControlName="answer"
      />
      <label for="answer">Answer</label>
    </div>

    <div class="form-floating mb-3">
      <select
        class="form-select"
        id="category"
        formControlName="category"
        aria-label="Floating label select example"
      >
        <option selected value="REBUS_PUZZLE">REBUS PUZZLE</option>
        <option value="RIDDLES">RIDDLES</option>
        <option value="WORD_PUZZLE">WORD PUZZLE</option>
        <option value="MATH_LOGIC_PUZZLE">MATH LOGIC PUZZLE</option>
      </select>
      <label for="category">Category</label>
    </div>

    <div class="input-group mb-3">
      <div class="form-floating">
        <input
          type="text"
          class="form-control"
          formControlName="choices"
          id="choices"
        />
        <label for="choices">Choices</label>
      </div>
      <button
        type="button"
        class="btn btn-dark btn-sm p-3"
        (click)="addToChoices()"
      >
        <i class="fa-solid fa-plus"></i>
      </button>
    </div>

    <div class="d-flex gap-1 flex-wrap w-100">
      <div
        class="bg-body-tertiary rounded d-flex gap-2 align-items-center justify-content-center p-1"
        *ngFor="let choice of choices$"
      >
        <h6>{{ choice }}</h6>
        <i
          class="fa-regular fa-circle-xmark"
          (click)="removeChoice(choice)"
        ></i>
      </div>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-outline-dark"
        (click)="activeModal.close('Close click')"
      >
        Cancel
      </button>
      <button
        class="btn btn-dark"
        type="submit"
        [disabled]="questionForm$.invalid"
      >
        Save
      </button>
    </div>
  </form>
</div>
